[Desktop Entry]
Name=KPipesKDE
Name[ar]=KPipesKDE
Name[ca]=KPipesKDE
Name[ca@valencia]=KPipesKDE
Name[cs]=KPipesKDE
Name[da]=KPipesKDE
Name[de]=KPipesKDE
Name[en_GB]=KPipesKDE
Name[es]=KPipesKDE
Name[et]=KPipesKDE
Name[eu]=KPipesKDE
Name[fi]=KPipesKDE
Name[fr]=KPipesKDE
Name[gd]=KPipesKDE
Name[gl]=KPipesKDE
Name[hu]=KPipesKDE
Name[ia]=KPipesKDE
Name[id]=KPipesKDE
Name[it]=KPipesKDE
Name[ko]=KPipesKDE
Name[lt]=KPipesKDE
Name[nb]=KPipesKDE
Name[nl]=KPipesKDE
Name[nn]=KPipesKDE
Name[pl]=KPipesKDE
Name[pt]=KPipesKDE
Name[pt_BR]=KPipesKDE
Name[ru]=KPipesKDE
Name[sk]=KPipesKDE
Name[sl]=KPipesKDE
Name[sr]=KPipesKDE
Name[sr@ijekavian]=KPipesKDE
Name[sr@ijekavianlatin]=KPipesKDE
Name[sr@latin]=KPipesKDE
Name[sv]=KPipesKDE
Name[tg]=KPipesKDE
Name[tr]=KPipesKDE
Name[uk]=KPipesKDE
Name[x-test]=xxKPipesKDExx
Name[zh_CN]=KPipesKDE
Name[zh_TW]=KPipesKDE
Comment=

Type=Service
Icon=plasma
X-KDE-ServiceTypes=Plasma/Wallpaper

X-KDE-PluginInfo-Author=Kneelawk
X-KDE-PluginInfo-Email=jedidiah.pommert@gmail.com
X-KDE-PluginInfo-Name=com.kneelawk.kpipeskde
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-Plasma-MainScript=ui/main.qml
